.container {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
}

.typedOut {
  color: white;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
}

.typedOut:local {
  animation: typing 1s steps(20, end) forwards, blink .8s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
